<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShapeLayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA8CE9BC1D179ABD008F560F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA8CE9D51D179ABE008F560F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA8CE9E01D179ABE008F560F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
